@mixin flex-row($jc: flex-start, $ai: stretch) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}

@mixin flex-column($jc: flex-start, $ai: stretch) {
	@include flex-row($jc, $ai);
	flex-direction: column;
}
